streamlit
beautifulsoup4
deep-translator
gTTS
h11
h2
h5py
hpack
httpcore
httpx
httpx-oauth
huggingface-hub
moviepy
numpy==1.21.0
Cython==0.29.24
spacy==3.0.6
thinc==8.0.3

ollama
pandas
PyPDF2
python-docx
python-pptx
SpeechRecognition
tokenizers
torch
torchaudio
torchvision
transformers
