streamlit==1.39.0
beautifulsoup4==4.12.3
deep-translator==1.11.4
gTTS==2.5.3
moviepy==1.0.3
ollama==0.3.3
pandas==2.2.2
PyPDF2==3.0.1
python-docx==1.1.2
python-pptx==1.0.2
pyttsx3==2.98
requests==2.32.3
spacy==3.8.2
thinc==8.3.2
numpy==2.0.2
blis==1.0.1
transformers==4.45.2
tokenizers==0.20.1
SpeechRecognition==3.10.4
tensorflow==2.17
