streamlit
beautifulsoup4
deep-translator
gTTS
moviepy
ollama
pandas
PyPDF2
python-docx
python-pptx
pyttsx3
requests
spacy
thinc
numpy
blis
transformers
tokenizers
SpeechRecognition
tensorflow
